# Developers
.hg
.git
.svn
.idea/
.sass-cache/
*.db
*.pyc
__pycache__
*~

# Coverage reports
/reports/
/htmlcov/
.coverage

# Environment
local.py
/env/
/mail/
.env

tests/db.sqlite3
tests/private_media
/digid_eherkenning/db.sqlite3
.tox
.pytest_cache

# packaging
*.egg-info
/dist/
