include *.rst
include *.md
include LICENSE
include digid_eherkenning/py.typed
recursive-include digid_eherkenning *.html
recursive-include digid_eherkenning *.txt
recursive-include digid_eherkenning *.po
recursive-include digid_eherkenning *.mo
recursive-include digid_eherkenning/static *
recursive-include digid_eherkenning/xsd *
global-exclude __pycache__
global-exclude *.py[co]

